<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <script src="https://use.fontawesome.com/8bf58c5c88.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='//fonts.googleapis.com/css?family=Nunito+Sans:400,500,700|Quicksand:500,700' rel='stylesheet' type='text/css'>

    {{{_sections.css}}}

    <title>Trang chủ</title>
</head>

<body>


    <div class="container-fluid pb-5">
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark shadow bg-dark">
            <a class="navbar-brand" href="/"><i class="fa fa-home" aria-hidden="true"></i>
                Home</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    {{!-- {{#each lcCategories}}
                    <li class="nav-item active">
                        <a class="nav-link" href="/category/{{id}}">{{name}} <span class="sr-only">(current)</span></a>
                    </li>
                    {{/each}} --}}
                    {{#each lcCategories}}
                    <li class="nav-item">
                        <a class="nav-link" href="/category/{{id}}">{{name}}</a>
                    </li>
                    {{/each}}
                </ul>
                {{!-- <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form> --}}
                <form id="frmLogout" action="/account/logout" method="POST"></form>
                <ul class="navbar-nav">
                    {{#if isAuthenticated}}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Hi, <strong>{{authUser.name}}</strong>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/account/profile">
                                <i class="fa fa-user"></i>
                                Profile
                            </a>
                            {{#if writter}}
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/panel/">
                                <i class="fa fa-file-text" aria-hidden="true"></i>
                                Trang bài viết
                            </a>
                            {{/if}}
                            
                            {{#if editor}}
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/editorPage/">
                                <i class="fa fa-file-text" aria-hidden="true"></i>
                                Trang kiểm duyệt
                            </a>
                            {{/if}}
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="javascript: $('#frmLogout').submit();">
                                <i class="fa fa-sign-out"></i>
                                Logout
                            </a>
                        </div>
                    </li>
                    {{else}}
                    <li class="nav-item">
                        <a class="nav-link" href="/account/register">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/account/login">Login</a>
                    </li>
                    {{/if}}


                </ul>
            </div>
        </nav>
    </div>
    {{{body}}}

    <footer class="bg-dark">
        <div class="container-fluid">
            <p class="footer justify-content-center mt-2" style="text-align: center;  color:white">Design By MyTeam</p>
            <div class="backToTop text-right mr-5"><a class="text-white" href="#">Back to top </a> <i
                    class="fa fa-level-up text-white bg-dark" aria-hidden="true"></i></div>


        </div>
    </footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script src="/ckeditor/ckeditor.js"></script>
    {{{_sections.js}}}
</body>

</html>