<script src="https://cdn.ckeditor.com/4.11.4/standard/ckeditor.js"></script>

<div class="container">

    <div class="card shadow mt-5 mb-5">
        <div class="card-header">
            <div class="category pt-3">
                <a href="/">HOME</a>
                <i class="fa fa-arrow-right" aria-hidden="true"></i>
                <a href="/category/{{single.idCat}}">{{single.name}}</a>
            </div>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <div class="title pl-5 pr-5">
                    <h2>{{single.title}}</h2>
                    <p class="info_post p-3">
                        <small><i class="fa fa-user-circle" aria-hidden="true"></i> {{single.nameAuthor}} |
                            <i class="fa fa-clock-o" aria-hidden="true"></i> Ngày đăng:
                            {{dateformat single.date_post "dd/mm/yyyy"}} |
                            <i class="fa fa-eye" aria-hidden="true"></i> Lượt xem: {{view.views}}
                        </small>
                    </p>
                    <hr class='mb-4'>
                    <div class="image text-center">
                        <img src="{{single.image}}" alt="" width="500px" class="rounded">
                    </div>
                </div>
                <div class="content p-5">
                    {{{single.content}}}
                </div>
                <div class="tag pl-5">
                    <p>Nhãn Tag: {{#if_eq single.nameTag 'default'}}{{else}}{{single.nameTag}}{{/if_eq}}</p>
                </div>
            </li>

        </ul>
    </div>
    <div class="card shadow mb-4">
        <div class="card-header">
            Bài viết cùng thể loại
        </div>

        <div class="card-body">
            <div class="row">
                {{#each postLikeCat}}
                <div class="col-sm-4">
                    <div class="card mb-2 box-shadow">
                        <a href="/single_post/{{id}}">
                            <p class="card-body title">{{title}}</p>
                        </a>
                        <a href="/single_post/{{id}}">
                            <img class="card-img-top" src="{{image}}" alt="Card image cap">
                        </a>
                        <div class="card-body">
                            {{!-- <p class="card-text">{{short_content}}</p> --}}
                            <div class="text-center">
                                <i class="fa fa-clock-o" aria-hidden="true">
                                </i> {{dateformat date_post "dd/mm/yyyy"}} |
                                <i class="fa fa-eye" aria-hidden="true"></i> {{views}}
                                {{!-- <small class="text-muted">9 mins</small> --}}
                            </div>
                        </div>
                    </div>
                </div>
                {{/each}}

            </div>
        </div>
    </div>
    <div class="card shadow mb-4">
        <div class="card-header">
            Bình luận
        </div>
        <div class="card-body">
            {{#if isAuthenticated}}
            <form action="" method="POST">
                <div class="form-group">
                    <label>Để lại bình luận</label>
                    <textarea class="form-control" id="content" name="content" rows="3"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Comment</button>
            </form>
            {{else}}
            <p>Vui lòng <a href="/account/login">ĐĂNG NHẬP</a> để có thể viết bình luận!</p>
            {{/if}}
        </div>
    </div>
    {{#if notComment}}
    <div class="card shadow mb-5">
        <div class="card-header">
            Thông báo
        </div>
        <div class="card-body">
            {{#if notComment}}
            <p>Không có bình luận nào!</p>
            {{/if}}
        </div>
    </div>
    {{/if}}
    {{#each comment}}
    <div class="card shadow mb-4">
        <div class="card-header">
            {{name}}
        </div>
        <div class="card-body">
            <p>
                <p class="pl-5">{{content}}</p>
                <footer class="blockquote-footer">Đăng lúc: {{dateformat timeComment "dd/mm/yyyy"}}
                </footer>
            </p>
        </div>
    </div>
    {{/each}}
    {{#if notComment}}
    {{else}}
    <div class="card-body shadow mb-4 {{showPage}}" id="{{showPage}}">
        <div class="row justify-content-center">
            <ul class="pagination">

                <li class="page-item {{disPre}}">
                    <a class="page-link " href="?page={{pre}}" tabindex="-1">Previous</a>
                </li>

                {{#each totalPage}}

                <li class="page-item {{choose}}">

                    <a class="page-link" href="?page={{page}}">{{page}}</a>
                </li>
                {{/each}}
                <li class="page-item {{disNext}}"><a class="page-link" href="?page={{next}}">Next</a>
                </li>

            </ul>
        </div>
    </div>
    {{/if}}

</div>
<script>
    document.getElementById("noShowPage").remove();
</script>
<script>
    var node = document.createElement("p");
    var text = document.createTextNode("Không có bình luận nào!");
    node.appendChild(text);
    document.getElementById("notComment").appendChild(node);
</script>