<script src="https://cdn.ckeditor.com/4.11.4/standard/ckeditor.js"></script>

<div class="container">

    <div class="card shadow mt-5 mb-5">
        <div class="card-header">
            <div class="category pt-3">
                <a href="/">HOME</a>
                <i class="fa fa-arrow-right" aria-hidden="true"></i>
                <a href="/single_post">{{single.name}}</a>
            </div>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <div class="title pl-5 pr-5">
                    <h2>{{single.title}}</h2>
                    <p class="info_post p-3">
                        <small><i class="fa fa-user-circle" aria-hidden="true"></i> Bảo Lương |
                            <i class="fa fa-clock-o" aria-hidden="true"></i> Ngày đăng:
                            {{dateformat single.date_post "dd/mm/yyyy"}} |
                            <i class="fa fa-eye" aria-hidden="true"></i> Lượt xem: {{view.views}}
                        </small>
                    </p>
                    <hr class='mb-4'>
                    <div class="image text-center">
                        <img src="{{single.image}}" alt="" width="500px" class="rounded">
                    </div>
                </div>
                <div class="content p-5">
                    {{{single.content}}}
                </div>
                <div class="tag pl-5">
                    <p>Nhãn Tag: {{single.tag}}</p>
                </div>
            </li>

        </ul>
    </div>
    <div class="card shadow mb-5">
            <div class="card-header">
                Bình luận của Lương Bảo
            </div>
            <div class="card-body">
                <p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                    <footer class="blockquote-footer"> Bình luận ngày: 22/5/2019
                    </footer>
                </p>
            </div>
        </div>

</div>