<link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
<div class="container">
    {{#section 'js'}}


    <script>
        $.validator.addMethod("valueNotEquals", function (value, element, arg) {
            return arg !== value;
        }, "Value must not equal arg.");

    </script>


    <script>
        $(function () {

            $('#editUserForm').validate({
                rules: {
                    email: {
                        required: true,
                        email: true
                    },
                    name: {
                        required: true,
                    },
                    birthday: {
                        required: true
                    },
                },
                messages: {
                    email: {
                        required: 'Vui lòng không để trống email.',
                        email: 'Bạn vui lòng nhập đúng định dạng email.'
                    },
                    birthday: {
                        required: 'Bạn vui lòng nhập ngày sinh.'
                    },
                    name: {
                        required: "Vui lòng không để trống tên."
                    }
                },
                errorElement: 'small',
                errorClass: 'help-block text-danger',
                validClass: 'is-valid',
                highlight: function (e) {
                    $(e).removeClass('is-valid').addClass('is-invalid');
                },
                unhighlight: function (e) {
                    $(e).removeClass('is-invalid').addClass('is-valid');
                },
            });

        })
    </script>
    {{/section}}
    <div class="row">
        {{#if success}}
        <div class="success col-md-9 mt-5 col-md-offset-1">
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                Sửa thành công thành viên!
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
        {{/if}}
        <div class="col-sm-9">
            <div class="card shadow mt-5 mb-5">
                {{#each user}}
                <div class="card-header">
                    Sửa thông tin của {{name}}!
                </div>
                <div class="card-body">

                    <form action="" method="POST" id="editUserForm">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email</label>
                            <input type="email" class="form-control" id="email" value="{{email}}" name="email">

                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Tên</label>
                            <input type="text" class="form-control" id="name" value="{{name}}" name="name">

                        </div>
                        <div class="form-group">
                            <label>Ngày sinh</label>
                            <input id="datepicker" value="{{dateformat birthday "yyyy-mm-dd"}}" name="birthday">

                        </div>

                        <div class="form-group">
                            <label>Phân Quyền (Hiện tại đang có quyền: {{userRight}}){{/each}}
                            
                            {{#each expirationVIP}}
                            (VIP còn {{expDate}} ngày)
                            {{/each}}
                            </label>
                            {{#if notSetRight}}
                            <div class="card-body col-sm-12 {{notSetRight}}" id="{{notSetRight}}">
                            </div>
                            {{else}}

                            <select required class="custom-select" id="userRight" name="userRight">

                                <option value="default">Giữ nguyên quyền, không thay đổi</option>
                                <option value="0">Đổi thành: Thành viên thường</option>
                                <option value="1">Đổi thành: Thành viên VIP</option>
                                <option value="2">Đổi thành: Phóng viên</option>
                                <option value="3">Đổi thành: Biên tập viên</option>
                            </select>
                            {{/if}}
                        </div>
                        <center><button type="submit" class="btn btn-primary">Sửa thông tin</button></center>

                    </form>

                </div>

            </div>
        </div>
        <div class="col-sm-3">
            <div class="card shadow mt-5 mb-5 ">
                <div class="card-header text-center font-weight-bold">
                    QUẢN TRỊ ADMIN
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item text-left"><a href="/admin"><i class="fa fa-home" aria-hidden="true"></i>
                            Dashboard</a></li>
                    <li class="list-group-item text-left"><a class="" href="/admin/listPost"><i class="fa fa-file-text"
                                aria-hidden="true"></i> Quản lý bài viết</a></li>

                    <li class="list-group-item text-left"><a class="" href="/admin/listCat"><i class="fa fa-list-alt"
                                aria-hidden="true"></i>
                            Quản lý thể loại</a></li>

                    <li class="list-group-item text-left"><a class="" href="/admin/listTags"><i class="fa fa-tags"
                                aria-hidden="true"></i>
                            Quản lý tag</a></li>
                    <li class="list-group-item text-left"><a class="" href="/admin/listUsers"><i class="fa fa-users"
                                aria-hidden="true"></i>
                            Quản lý thành viên</a></li>


                </ul>
            </div>
        </div>
    </div>
</div>
<script>

    $('#datepicker').datepicker({
        uiLibrary: 'bootstrap4',
        format: 'yyyy-mm-dd'
    });
</script>
<script>
    var node = document.createElement("label");
    var text = document.createTextNode("Bạn không thể phân quyền cho chính bạn!");
    node.appendChild(text);
    document.getElementById("noSetRight").appendChild(node);
</script>