<div class="container">
    <div class="row">

        <div class="col-sm-9">
            <div class="card shadow mt-5 mb-5">
                <div class="card-header">
                        <div class="panel text-center">DANH SÁCH BÀI VIẾT CỦA BẠN</div>
                        {{!-- <div class="col-sm-7 text-right">
                            <a class="btn btn-outline-success btn-sm" href="/panel/insert" role="button" title="Add">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                                Add Category
                            </a>
                        </div> --}}

                </div>
                {{!-- <ul class="list-group list-group-flush">
                    {{#each panel}}
                    <div class="edit-item">
                        <li class="list-group-item"><a href="/single_post/{{id}}">{{title}}   </a>

                        <a class="btn btn-primary btn-sm" href="/panel/update" role="button" title="Edit">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                        </a>
                        <a class="btn btn-danger btn-sm" href="/panel/delete" role="button" title="Delete">
                            <i class="fa fa-trash" aria-hidden="true"></i>

                        </a>
                        </li>
                    </div>
                    {{/each}}
                </ul> --}}
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th class="text-center" scope="col">ID</th>
                            <th scope="col">Tiêu đề bài viết</th>
                            <th scope="col" class="text-right">
                                <a class="btn btn-outline-success btn-sm" href="/panel/insert" role="button"
                                    title="Add">
                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                    Add
                                </a>
            </div>
            </th>
            </tr>
            </thead>
            <tbody>
                {{#each panel}}
                <tr>
                    <th class="text-center" scope="row">{{id}}</th>
                    <td><a href="/single_post/{{id}}">{{title}}</a></td>
                    <td class="text-right">
                        <a class="btn btn-primary btn-sm" href="update" role="button" title="Edit">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                        </a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
            </table>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card shadow mt-5 mb-5">
            <div class="card-header">
                Quản trị
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><a href="/panel/insert">Thêm bài viết</a></li>
                <li class="list-group-item"><a href="/panel/update">Sửa bài viết</a></li>
                <li class="list-group-item"><a href="/panel/delete">Xóa bài viết</a></li>
            </ul>
        </div>
    </div>
</div>
</div>