<div class="container">
    {{#if success}}
    <div class="alert alert-success alert-dismissible fade show mt-5" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        {{success}}
    </div>
    {{/if}}
    <div class="row">
        <div class="col-sm-9">
            <div class="card shadow mt-5 mb-5">
                <div class="card-header">
                    <div class="row">
                        <div class="panel text-left font-weight-bold col-sm-8 mt-1">DANH SÁCH BÀI VIẾT CỦA BẠN CÓ THỂ
                            SỬA</div>
                        <div class="add text-right col-sm-4"><a class="btn btn-outline-success btn-sm "
                                href="/panel/insert" role="button" title="Thêm bài viết">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                                Thêm
                            </a>
                        </div>
                    </div>
                </div>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col" class="text-center">ID</th>
                            <th scope="col" class="">Tiêu đề bài viết</th>
                            <th scope="col" class="text-center">Tình trạng</th>
                            <th scope="col" class="text-center">Thao tác</th>
                                {{!-- <a class="btn btn-outline-success btn-sm" href="/panel/insert" role="button"
                                    title="Thêm bài viết">
                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                    Thêm
                                </a> --}}

                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#if_eq notPost 'notPost'}}
                        <tr>
                            <th></th>
                            <td class="card-body mt-5 {{notPost}}" id="{{notPost}}"></td>
                            <td></td>
                            <td></td>
                        </tr>
                        {{/if_eq}}
                        {{#each panel}}
                        <tr>
                            <th scope="row" class="text-center">{{id}}</th>
                            <td class="title-table"><a href="/single_post/{{id}}">{{title}}</a></td>
                            <td class="text-center">{{status}}</td>
                            <td class="text-center">
                                <a class=" btn btn-primary btn-sm text-right" href="/panel/edit/{{id}}" role="button"
                                    title="Sửa">
                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                </a>
                                {{#if_eq cause_not_approved ''}}
                                {{else}}
                                <a class="btn btn-danger btn-sm text-right " href="#" data-toggle="modal"
                                    data-target="#exampleModal{{id}}" role="button" title="Xem lý do">
                                    <i class="fa fa-eye" aria-hidden="true"></i>
                                </a>
                                <div class="modal" id="exampleModal{{id}}" tabindex="-1" role="dialog">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">Lý do từ chối duyệt bài</h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                    aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <p>{{cause_not_approved}}</p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                    data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {{/if_eq}}
                            </td>
                        </tr>
                        {{!-- <tr>
                            <th scope="row">{{id}}</th>
                            <td><a href="/single_post/{{id}}">{{title}}</a></td>

                            <td> {{status}}</a></td>
                            <td>
                                <a class="btn btn-primary btn-sm text-right" href="/panel/edit/{{id}}" role="button"
                                    title="Sửa">
                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                </a>
                                
                            </td>
                        </tr> --}}
                        {{/each}}
                    </tbody>
                </table>
                <hr>
                <div class="row mx-auto {{showPage}}" id="{{showPage}}">
                    <ul class="pagination text-center">

                        <li class="page-item {{disPre}}">
                            <a class="page-link " href="?{{#if status}}status={{status}}&{{/if}}page={{pre}}"
                                tabindex="-1">Previous</a>
                        </li>

                        {{#each totalPage}}

                        <li class="page-item {{choose}}">

                            <a class="page-link"
                                href="?{{#if status}}status={{status}}&{{/if}}page={{page}}">{{page}}</a>
                        </li>
                        {{/each}}
                        <li class="page-item {{disNext}}"><a class="page-link"
                                href="?{{#if status}}status={{status}}&{{/if}}page={{next}}">Next</a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card shadow mt-5 mb-5">
                <div class="card-header text-center font-weight-bold">
                    QUẢN TRỊ BÀI VIẾT
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item text-left"><a href="/panel"><i class="fa fa-file-text"
                                aria-hidden="true"></i> Tất cả bài viết</a></li>
                    <li class="list-group-item text-left"><a class="" href="/panel/insert"><i class="fa fa-plus"
                                aria-hidden="true"></i> Thêm bài viết</a></li>
                    <li class="list-group-item text-left"><a class="" href="/panel/update"><i
                                class="fa fa-pencil-square" aria-hidden="true"></i>
                            Sửa bài viết</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<script>
    document.getElementById("noShowPage").remove();
</script>
<script>
    var node = document.createElement("p");
    var text = document.createTextNode("Không tìm thấy bài viết nào!");
    node.appendChild(text);
    document.getElementById("notPost").appendChild(node);
</script>