<div class="container">
    {{#if success}}
    <div class="alert alert-success alert-dismissible fade show mt-5" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        {{success}}
    </div>
    {{/if}}
    <div class="row">
        <div class="col-sm-9">
            <div class="card shadow mt-5 mb-5">
                <div class="card-header">
                    <div class="row">
                        <div class="panel text-left font-weight-bold col-sm-8 mt-1">DANH SÁCH BÀI VIẾT CỦA BẠN CÓ THỂ SỬA</div>
                        <div class="add text-right col-sm-4"><a class="btn btn-outline-success btn-sm "
                                href="/panel/insert" role="button" title="Thêm bài viết">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                                Thêm
                            </a>
                        </div>
                    </div>
                </div>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Tiêu đề bài viết</th>
                            <th scope="col">Tình trạng</th>
                            <th scope="col" class="text-right">
                                {{!-- <a class="btn btn-outline-success btn-sm" href="/panel/insert" role="button"
                                    title="Thêm bài viết">
                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                    Thêm
                                </a> --}}

                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each panel}}
                        <tr>
                            <th scope="row">{{id}}</th>
                            <td><a href="/single_post/{{id}}">{{title}}</a></td>

                            <td> {{status}}</a></td>
                            <td>
                                <a class="btn btn-primary btn-sm text-right" href="/panel/edit/{{id}}" role="button"
                                    title="Sửa">
                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                </a>
                                {{!-- <a class="btn btn-danger btn-sm" href="/panel/delete/{{id}}" role="button" title="Xóa">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                </a> --}}
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card shadow mt-5 mb-5">
                <div class="card-header text-center font-weight-bold">
                    QUẢN TRỊ BÀI VIẾT
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item text-center"><a href="/panel"><i class="fa fa-file-text"
                                aria-hidden="true"></i> Tất cả bài viết</a></li>
                    <li class="list-group-item text-center"><a class="" href="/panel/insert"><i class="fa fa-plus"
                                aria-hidden="true"></i> Thêm bài viết</a></li>
                    <li class="list-group-item text-center"><a class="" href="/panel/update"><i
                                class="fa fa-pencil-square" aria-hidden="true"></i>
                            Sửa bài viết</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>