<script src="https://cdn.ckeditor.com/4.11.4/standard/ckeditor.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
<link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
{{#section 'js'}}


<script>
    $.validator.addMethod("valueNotEquals", function (value, element, arg) {
        return arg !== value;
    }, "Value must not equal arg.");

</script>


<script>
    $(function () {

        $('#updatePostFrom').validate({
            rules: {
                title: {
                    required: true
                },
                id_category: {
                    valueNotEquals: "default"
                },
                //image: {
                //  required: true
                //},
                tag: {
                    required: true
                },
                date_post: {
                    required: true
                },
            },
            messages: {
                title: {
                    required: 'Bạn vui lòng nhập tiêu đề bài viết.'
                },
                //image: {
                // required: 'Bạn vui lòng upload hình ảnh.'
                // },
                tag: {
                    required: 'Bạn vui lòng nhập tag.'
                },
                date_post: {
                    required: 'Bạn vui lòng nhập ngày đăng.'
                },
                id_category: {
                    valueNotEquals: "Vui lòng chọn chuyên mục."
                }
            },
            errorElement: 'small',
            errorClass: 'help-block text-danger',
            validClass: 'is-valid',
            highlight: function (e) {
                $(e).removeClass('is-valid').addClass('is-invalid');
            },
            unhighlight: function (e) {
                $(e).removeClass('is-invalid').addClass('is-valid');
            },
        });

    })
</script>
{{/section}}


<div class="container">
    {{#if success}}
    <div class="alert alert-success alert-dismissible fade show mt-5" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        {{success}}
    </div>
    {{/if}}
    <div class="row">

        <div class="col-sm-9">
            <div class="card shadow mt-5 mb-5">
                {{#each post}}
                <div class="card-header text-center font-weight-bold">
                    KIỂM DUYỆT BÀI VIẾT - Tình trạng: {{status}}
                </div>
                <div class="card-body">
                    <form action="" method="POST" id="updatePostFrom">
                        <div class="form-group">
                            <label>Tiêu đề bài viết</label>
                            <input readonly type="text" class="form-control" id="title" value="{{title}}" name="title">

                        </div>

                        <div class="form-group">
                            <label>Ảnh bài viết</label>
                            <div class="imagePost text-center mb-3">
                                <img src="{{image}}" alt="" width="200px">
                            </div>
                            {{!-- <input type="file" class="form-control" id="image" placeholder="" name="image"> --}}
                        </div>
                        <div class="form-group">
                            <label>Chuyên mục</label>

                            <input readonly type="text" class="form-control" id="id_category" value="{{name}}"
                                placeholder="" name="id_category">

                        </div>
                        <div class="form-group">
                            <label>Ngày đăng</label>
                            <input required id="datepicker" value="{{dateformat date_post "yyyy-mm-dd"}}"
                                name="date_post">

                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlTextarea1">Nội dung tóm tắt</label>
                            <textarea readonly class="form-control" maxlength="180" rows="3" value=""
                                name="short_content" id="short_content"></textarea>
                            <small class="pl-2">Độ dài tối đa: 180 ký tự.</small>
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlTextarea1">Nội dung bài viết</label>
                            <textarea readonly name="content" value="" id="editor"></textarea>

                        </div>
                        <div class="form-group">
                            <label>Tag</label>
                            <input readonly type="text" class="form-control" id="tag" value="{{tag}}" placeholder=""
                                name="tag">
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlTextarea1">Nếu từ chối duyệt bài, vui lòng nêu lý do</label>
                            <input type="text" class="form-control" id="cause_not_approved" placeholder=""
                                name="cause_not_approved">

                        </div>
                        <input name="" id="contentData" class="btn btn-primary" type="text" value="{{content}}">
                        <input name="" id="short_contentData" class="btn btn-primary" type="text"
                            value="{{short_content}}">

                        {{!-- <div class="form-check mb-3">
                            <input type="checkbox" value="1" class="form-check-input" id="hotNews" name="hotNews">
                            <label class="form-check-label" for="exampleCheck1">Tin tức nổi bật</label>
                        </div> --}}
                        <center>
                            <button type="submit" name="ok" value="1" class="btn btn-success">Duyệt bài</button>
                            <button type="submit" name="reject" value="0" class="btn btn-danger">Từ chối duyệt</button>
                        </center>
                    </form>
                    {{/each}}
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card shadow mt-5 mb-5 ">
                <div class="card-header text-center font-weight-bold">
                    QUẢN TRỊ ADMIN
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item text-left"><a href="/admin"><i class="fa fa-home" aria-hidden="true"></i>
                            Dashboard</a></li>
                    <li class="list-group-item text-left"><a class="" href="/admin/listPost"><i class="fa fa-file-text"
                                aria-hidden="true"></i> Quản lý bài viết</a></li>

                    <li class="list-group-item text-left"><a class="" href="/admin/listCat"><i class="fa fa-list-alt"
                                aria-hidden="true"></i>
                            Quản lý thể loại</a></li>

                    <li class="list-group-item text-left"><a class="" href="/admin/listTags"><i class="fa fa-tags"
                                aria-hidden="true"></i>
                            Quản lý tag</a></li>
                    <li class="list-group-item text-left"><a class="" href="/admin/listUsers"><i class="fa fa-users"
                                aria-hidden="true"></i>
                            Quản lý thành viên</a></li>


                </ul>
            </div>
        </div>
    </div>
</div>

<script>

    CKEDITOR.replace('editor');

    $('#datepicker').datepicker({
        uiLibrary: 'bootstrap4',
        format: 'yyyy-mm-dd'
    });

    var val = $('#contentData').val();
    CKEDITOR.instances['editor'].setData(val);
    $("#contentData").remove();

    var val_short_content = $('#short_contentData').val();
    $('textarea#short_content').val(val_short_content);
    $('#short_contentData').remove();

</script>